<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Carregar estáticos do Django -->
    {% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- CSS personalizado -->
    <link rel="stylesheet" href="{% static 'app_gymsync/css/add_exercicio.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Adicionar Exercício</title>
</head>
<body>

    <h2 class="centered-title">
        <span class="title-part1">Adicionar </span> 
        <span class="title-part2"> Exercício</span>
    </h2>

    <!-- Cartões de Exercícios -->

    <!-- Exercício 1: Supino reto -->
    <div class="exercise-box-custom">
        <img src="{% static 'images/images/supino-reto.jpg' %}" alt="Supino reto">
        <h3>Supino reto</h3>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="exercicio_nome" value="Supino reto">
            <label for="treino1">Selecione o Treino:</label>
            <select id="treino1" name="treino_id" required>
                {% for treino in treinos %}
                    <option value="{{ treino.id }}">{{ treino.nome }}</option>
                {% endfor %}
            </select>

            <label for="repeticoes1">Número de Repetições:</label>
            <input type="number" id="repeticoes1" name="repeticoes" required>

            <label for="carga1">Carga (em kg):</label>
            <input type="number" id="carga1" name="carga" required>

            <button type="submit" class="btn btn-primary">Adicionar Exercício</button>
        </form>
    </div>

    <!-- Exercício 2: Levantamento terra -->
    <div class="exercise-box-custom">
        <img src="{% static 'images/images/Levantamento terra.jpg.jpg' %}" alt="Levantamento Terra">
        <h3>Levantamento terra</h3>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="exercicio_nome" value="Levantamento terra">
            <label for="treino2">Selecione o Treino:</label>
            <select id="treino2" name="treino_id" required>
                {% for treino in treinos %}
                    <option value="{{ treino.id }}">{{ treino.nome }}</option>
                {% endfor %}
            </select>

            <label for="repeticoes2">Número de Repetições:</label>
            <input type="number" id="repeticoes2" name="repeticoes" required>

            <label for="carga2">Carga (em kg):</label>
            <input type="number" id="carga2" name="carga" required>

            <button type="submit" class="btn btn-primary">Adicionar Exercício</button>
        </form>
    </div>

    <!-- Exercício 3: Rosca direta -->
    <div class="exercise-box-custom">
        <img src="{% static 'images/images/rosca-direta.jpg' %}" alt="Rosca direta">
        <h3>Rosca direta</h3>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="exercicio_nome" value="Rosca direta">
            <label for="treino3">Selecione o Treino:</label>
            <select id="treino3" name="treino_id" required>
                {% for treino in treinos %}
                    <option value="{{ treino.id }}">{{ treino.nome }}</option>
                {% endfor %}
            </select>

            <label for="repeticoes3">Número de Repetições:</label>
            <input type="number" id="repeticoes3" name="repeticoes" required>

            <label for="carga3">Carga (em kg):</label>
            <input type="number" id="carga3" name="carga" required>

            <button type="submit" class="btn btn-primary">Adicionar Exercício</button>
        </form>
    </div>

    <!-- Exercício 4: Desenvolvimento lateral -->
    <div class="exercise-box-custom">
        <img src="{% static 'images/images/halteres.jpg' %}" alt="Desenvolvimento lateral">
        <h3>Desenvolvimento lateral</h3>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="exercicio_nome" value="Desenvolvimento lateral">
            <label for="treino4">Selecione o Treino:</label>
            <select id="treino4" name="treino_id" required>
                {% for treino in treinos %}
                    <option value="{{ treino.id }}">{{ treino.nome }}</option>
                {% endfor %}
            </select>

            <label for="repeticoes4">Número de Repetições:</label>
            <input type="number" id="repeticoes4" name="repeticoes" required>

            <label for="carga4">Carga (em kg):</label>
            <input type="number" id="carga4" name="carga" required>

            <button type="submit" class="btn btn-primary">Adicionar Exercício</button>
        </form>
    </div>

    <!-- Exercício 5: Leg press 45° -->
    <div class="exercise-box-custom">
        <img src="{% static 'images/images/leg45.jpg' %}" alt="Leg press 45°">
        <h3>Leg press 45°</h3>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="exercicio_nome" value="Leg press 45°">
            <label for="treino5">Selecione o Treino:</label>
            <select id="treino5" name="treino_id" required>
                {% for treino in treinos %}
                    <option value="{{ treino.id }}">{{ treino.nome }}</option>
                {% endfor %}
            </select>

            <label for="repeticoes5">Número de Repetições:</label>
            <input type="number" id="repeticoes5" name="repeticoes" required>

            <label for="carga5">Carga (em kg):</label>
            <input type="number" id="carga5" name="carga" required>

            <button type="submit" class="btn btn-primary">Adicionar Exercício</button>
        </form>
    </div>

    <!-- Exercício 6: Tríceps testa -->
    <div class="exercise-box-custom">
        <img src="{% static 'images/images/triceps-testa.jpg' %}" alt="Tríceps testa">
        <h3>Tríceps testa</h3>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="exercicio_nome" value="Tríceps testa">
            <label for="treino6">Selecione o Treino:</label>
            <select id="treino6" name="treino_id" required>
                {% for treino in treinos %}
                    <option value="{{ treino.id }}">{{ treino.nome }}</option>
                {% endfor %}
            </select>

            <label for="repeticoes6">Número de Repetições:</label>
            <input type="number" id="repeticoes6" name="repeticoes" required>

            <label for="carga6">Carga (em kg):</label>
            <input type="number" id="carga6" name="carga" required>

            <button type="submit" class="btn btn-primary">Adicionar Exercício</button>
        </form>
    </div>

    <!-- Exercício 7: Cadeira extensora -->
    <div class="exercise-box-custom">
        <img src="{% static 'images/images/cadeira-extensora.jpg' %}" alt="Cadeira extensora">
        <h3>Cadeira extensora</h3>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="exercicio_nome" value="Cadeira extensora">
            <label for="treino7">Selecione o Treino:</label>
            <select id="treino7" name="treino_id" required>
                {% for treino in treinos %}
                    <option value="{{ treino.id }}">{{ treino.nome }}</option>
                {% endfor %}
            </select>

            <label for="repeticoes7">Número de Repetições:</label>
            <input type="number" id="repeticoes7" name="repeticoes" required>

            <label for="carga7">Carga (em kg):</label>
            <input type="number" id="carga7" name="carga" required>

            <button type="submit" class="btn btn-primary">Adicionar Exercício</button>
        </form>
    </div>

    <!-- Exercício 8: Cadeira flexora -->
    <div class="exercise-box-custom">
        <img src="{% static 'images/images/cadeira-flexora.jpg' %}" alt="Cadeira flexora">
        <h3>Cadeira flexora</h3>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="exercicio_nome" value="Cadeira flexora">
            <label for="treino8">Selecione o Treino:</label>
            <select id="treino8" name="treino_id" required>
                {% for treino in treinos %}
                    <option value="{{ treino.id }}">{{ treino.nome }}</option>
                {% endfor %}
            </select>

            <label for="repeticoes8">Número de Repetições:</label>
            <input type="number" id="repeticoes8" name="repeticoes" required>

            <label for="carga8">Carga (em kg):</label>
            <input type="number" id="carga8" name="carga" required>

            <button type="submit" class="btn btn-primary">Adicionar Exercício</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" 
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
