{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- Carregando o CSS personalizado -->
    <link rel="stylesheet" type="text/css" href="{% static 'app_gymsync/css/criar_treino.css' %}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Crie Seu Treino - GymSync</title>

</head>
<body>

    <div class="bg-container">
        <section class="container form-section">
            <h2>Crie seu Treino</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nome">Nome do Treino:</label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>
                <div class="form-group">
                    <label for="numero_series">Número de Séries:</label>
                    <input type="number" class="form-control" id="numero_series" name="numero_series" min="1" required>
                </div>
                <div class="form-group">
                    <label for="agrupamento_muscular">Agrupamento Muscular:</label>
                    <select class="form-control" id="agrupamento_muscular" name="agrupamento_muscular" required>
                        <option value="peito">Peito</option>
                        <option value="costas">Costas</option>
                        <option value="pernas">Pernas</option>
                        <option value="ombros">Ombros</option>
                        <option value="braços">Braços</option>
                        <option value="abdomen">Abdômen</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Enviar Treino</button>
            </form>
        </section>
        

</body>
</html>
